<title>Todo</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="manifest" href="manifest.json" />

<script type="importmap">
  { "imports": { "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js" } }
</script>

<script type="module">
  import { createApp, ref, computed, watchEffect } from "vue";

  const STORAGE_KEY = "todo";

  const filters = {
    all: (todos) => todos,
    done: (todos) => todos.filter((todo) => todo.done),
    undone: (todos) => todos.filter((todo) => !todo.done),
  };

  createApp({
    setup() {
      const newTodoText = ref("");
      const day = new Date().toLocaleDateString("en-us", { weekday: "long" });
      const todos = ref(JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]"));
      const total = computed(() => filters.all(todos.value).length);

      watchEffect(() => {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos.value));
      });

      function addTodo(e) {
        const value = e.target.value.trim();
        if (value) {
          todos.value.push({
            id: Date.now(),
            text: value,
            done: false,
          });
          e.target.value = "";
        }
      }

      function clearDone() {
        todos.value = filters.undone(todos.value);
      }

      function startDrag(e, todo) {
        e.dataTransfer.dropEffect = "move";
        e.dataTransfer.effectAllowed = "move";
        e.dataTransfer.setData("id", todo.id);
      }

      function onDrop(e) {
        if (e.target.className !== "todo") return;
        const id = e.dataTransfer.getData("id");
        const droppedIndex = todos.value.findIndex(
          (todo) => todo.id === Number(id)
        );
        const targetIndex = todos.value.findIndex(
          (todo) => todo.id === Number(e.target.id)
        );
        todos.value.splice(
          targetIndex,
          0,
          todos.value.splice(droppedIndex, 1)[0]
        );
      }

      return {
        day,
        todos,
        total,
        addTodo,
        clearDone,
        startDrag,
        onDrop,
      };
    },
  }).mount("#app");
</script>

<div id="app">
  <h1>{{day}}</h1>

  <p>
    <input
      @keyup.enter="addTodo"
      autofocus
      placeholder="Add a todo"
      class="add"
    />
  </p>

  <ul @drop="onDrop($event)" @dragover.prevent @dragenter.prevent class="todos">
    <li
      v-for="todo in todos"
      :key="todo.id"
      :id="todo.id"
      class="todo"
      :class="{ done: todo.done }"
      draggable="true"
      @dragstart="startDrag($event, todo)"
    >
      <input type="checkbox" v-model="todo.done" />&nbsp; {{todo.text}}
    </li>
  </ul>

  <footer>
    <button @click="clearDone">Clear done</button>
  </footer>
</div>

<style>
  body {
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 3rem;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p,
  ul {
    margin-bottom: 1.5rem;
  }
  input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .add {
    width: 100%;
    box-sizing: border-box;
  }
  .todos {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  .todo {
    margin-bottom: 0.5rem;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    cursor: move;
    user-select: none;

    &.done {
      text-decoration: line-through;
      opacity: 0.2;
    }
  }
  footer {
    display: flex;
    justify-content: center;

    button {
      font-size: 0.8rem;
      padding: 0.5rem;
      cursor: pointer;
      background: 0;
      border: 0;
      text-decoration: underline;
      color: #999;
    }
  }
</style>
